body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.main-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.title-image {
    margin-bottom: 20px;
}

.title-image img {
    max-width: 300px;
    height: auto;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-button {
    background-color: #465775;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 250px;
    height: 60px;
}

.menu-button:hover {
    background-color: #566985;
}

.menu-button:active {
    background-color: #364765;
}